Source: {{source}}
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
{% if uploaders|length == 1 %}
Uploaders: {{ uploaders[0] }}
{% elif uploaders|length > 1 %}
Uploaders:
 {{ uploaders|join(',\n ') }}
{% endif %}
Rules-Requires-Root: no
Build-Depends:
 {{ lib_deps|join(',\n ') }},
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/{{source}}
Vcs-Git: https://salsa.debian.org/go-team/packages/{{source}}.git
Homepage: {{ homepage }}
XS-Go-Import-Path: {{ go_import_path }}
