Package: wnpp
Severity: wishlist
Owner: {{ name }} <{{ email }}>
X-Debbugs-CC: {{ cc|join(', ') }}

* Package name    : {{ package }}
  Version         : {{ version }}
  Upstream Contact: {{ upstream|join('\n                    ') }}
* URL             : {{ url }}
* License         : {{ license }}
  Programming Lang: {{ lang }}
  Description     : {{ short_desc }}

{{ long_desc }}

TODO: reasoning, team maintenance, need a sponsor?

--
Kind regards,
{{ name }}
